body {
  margin: 0;
  background-color: #0e1014;
  color: #e4e5ea;
  margin: 46px 150px;
  font-family: "Inter", sans-serif;
}

.gradient {
  background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h1 h2 h3 h4 h5 {
  display: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-block-start: inherit;
  margin-block-end: inherit;
  margin-inline-start: inherit;
  margin-inline-end: inherit;
  margin: inherit;
}

p {
  display: inherit;
  margin-block-start: inherit;
  margin-block-end: inherit;
  margin-inline-start: inherit;
  margin-inline-end: inherit;
}

.secondary-font {
  font-family: "Montserrat", sans-serif;
}

.purple-ball {
  padding-left: 725px;
}

.purple-ball img {
  width: 60px;
  height: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_navbar {
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.header_item {
  padding: 10px 15px;
}

.header-logo .logo-parts {
  display: flex;
  margin-right: 37px;
}

.logo-parts .part-1-logo {
  margin-right: 8px;
}

.logo-parts .part-2-logo {
  display: flex;
}

.header-logo .text {
  width: 165px;
  text-align: left;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 8px;
}

.purple-light-ball {
  width: 259px;
  height: 259px;
}

.purple-light-ball img {
  width: 259px;
  height: 259px;
  padding-left: 557px;
}

.red-ball {
  width: 83px;
  height: 83px;
}

.red-ball img {
  width: 83px;
  height: 83px;
}

.callback {
  padding: 10px 15px;
  margin-right: 17px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
}

.first-block {
  flex: 0 0 60%;
}
.main-block .first-block h1 {
  display: block;
  font-size: 48px;
  font-weight: 400;
  width: 362px;
  height: 116px;
  margin: 0;
}

.main-block .gradient-weblex {
  background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.first-block .text-block {
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 275px;
  height: 44px;
  padding-top: 30px;
}

.second-block {
  flex: 0 0 30%;
}

.second-block .title {
  text-align: end;
  width: 291px;
  height: 44px;
  padding-bottom: 20px;
  margin-left: 25px;
}

.second-block .columns {
  text-align: right;
  display: flex;
  margin: 0 -20px;
  padding-top: 20px;
  padding-bottom: 60px;
  width: 280px;
  margin-left: 10px;
}

.item-column {
  display: block;
  width: 155px;
}

.h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin: 0px;
}

.par-column {
  padding-top: 6px;
  padding-bottom: 30px;
}

.second-block .first-column {
  display: block;
  flex: 50%;
}

.second-block .second-column {
  display: block;
  flex: 50%;
  width: 144px;
  height: 70px;
}

.btn {
  width: 262px;
  height: 61px;
  flex-shrink: 0;
  background-color: #4077f3;
  color: inherit;
  margin-left: 50px;
}

.footer {
  padding-top: 55px;
  width: 1141px;
  height: 315px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-menu-column-1 {
  width: 200px;
  height: 40px;
  padding-top: 0;
  margin-right: 108px;
}

.menu-item-1 {
  margin-bottom: 20px;
}

.footer-menu-column-2 {
  width: max-content;
  padding-top: 0;
}

.menu-item-2 {
  margin-bottom: 20px;
}

.footer-menu-column-3 {
  width: max-content;
  padding-top: 65px;
  padding-left: 52px;
}

.menu-item-3 {
  margin-bottom: 20px;
}

.h5 {
  color: #656566;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer-menu-column-4 {
  padding-left: 140px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.menu-item-4 {
  margin-bottom: 10px;
}

.footer-item-social {
  display: flex;
  flex-direction: row-reverse;
}

.footer-item-social .menu-item-4 {
  width: 20px;
  padding: 10px 15px;
}

.footer-copyright {
  text-align: right;
  align-items: end;
  padding-top: 33px;
  padding-bottom: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
