body {
  margin: 0;
  background-color: #0e1014;
  color: #e4e5ea;
  margin: 46px 150px;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.header_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_item {
  padding: 10px 15px;
  font-size: 16px;
}

.headerlogo .logo-parts {
  display: flex;
  margin-right: 37px;
}

.logo-parts .part-1-logo {
  margin-right: 8px;
}

.logo-parts .part-2-logo {
  display: flex;
}

.headerlogo .text {
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.callback {
  padding: 10px 15px;
  margin-right: 17px;
}

.main-block {
  padding-top: 94px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 490px;
}

.main-block .gradient {
  background: var(
    --gradient,
    linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.main-block .first-block {
  display: block;
}

.first-block span {
  font-size: 48px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.first-block .text-block {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-block .first-column {
  display: flex;
  justify-content: space-between;
}

.second-block .second-column {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 262px;
  height: 61px;
  flex-shrink: 0;
  background-color: #4077f3;
  color: inherit;
  float: none;
}

.footer {
  width: 1440px;
  height: 315px;
}
